@import "./main-styles.scss";

.current-board-stages-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 55vh;
    width: 100%;

    .stage-container{
        height: 95%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.05);
        width: 18vw;
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;

        .btn{
            width: 100%;
            border: none;
            border-radius: unset;
            box-shadow: 0 0 80px rgb(0, 0, 0);
        }

        .icon-span.dots-menu{
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            position: unset;
            position: absolute;
            z-index: 2;
            right: 0.5rem;
            top: 0.5rem;
            border-radius: 3px;
            width: 25px;
            height: 25px;
            background-color: transparent;

            &:hover{
                background-color: rgb(22, 22, 22);
                
                .icon{
                    color: rgba(255, 255, 255, 0.65);
                }
            }

            .icon{
                font-size: 2rem;
            }
        }

        .stage-status{
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            box-shadow: inset 0 0 7px rgb(0, 0, 0);
        }
    }

    .line{
        width: 85%;
    }

    .input-container{
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 0.2rem;
        position: relative;
        border-radius: 5px;
        transition: background-color 0.15s;

        .icon-span{
            padding: 0.4rem;
            position: absolute;
            z-index: 1;
            right: 3%;

            &:hover .icon{
                color: rgba(255, 255, 255, 0.8);
            }
            
            .icon{
                font-size: 1.1rem;
            }
        }

        .stage-title-input{
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 0.3rem 0;
            background-color: transparent;
            border: none;
            font-size: 1.2rem;
            margin: 0 auto;
            width: 100%;
            cursor: default;
            
            &:focus-visible{
                outline: none;
            }

            &.active{
                background-color: rgba(255, 255, 255, 0.2);
                cursor: text;
            }
        }
    }
}