// Variables

$light: rgb(245, 245, 245);
$dark: rgb(10, 15, 22);
$grey: rgb(170, 170, 170);
$grey_hover: rgb(189, 188, 188);
$light_grey: #dee2e6;
$light_grey2: #EEF2F7;
$light_bg: #e9effa;
$light_green: #b9ffb7;
$light_green2: #53e44e;
$green: #2dc653;
$light_red: #ff9b9d;
$red: #f04a55;
$light_orange: #ffe1b9;
$orange: #ff9f1c;
$blue: #4361ee;
$light_blue: #a2d2ff;
$blue_hover: #657ce4;
$gold: #fff01c;