@import './variables';

.message-container{
    background-color: $light_grey2;
    width: fit-content;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: left;

    .message{
        font-size: 1rem;
        color: $dark;
        text-align: left;
    }

    span{
        font-size: 0.8rem;
        color: $grey;
        text-align: right;
    }

    &.right-side{
        align-self: flex-end;
        background-color: $light_green;
    }
}