@import 'main-styles.scss';

nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;

    .logo-container{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .icon.logo{
            font-size: 1.7rem;
    
            &:hover{
                color: $white;
            }
        }
    }

    ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        // padding-inline: 1rem;
        list-style: none;

        li{
            color: $white;
            padding: 0.3em 0.5em;
            cursor: default;
            font-weight: 600;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
            }
        }

        .link{
            text-decoration: none;
            color: $white;
            padding: 0.3em 0.5em;
            cursor: default;
            font-weight: 600;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}