.project-overview{
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    min-height: 20vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    animation: fadeIn forwards 0.15s;

    hr.line{
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 98%;
        margin: 0 auto;
    }

    .icon-span{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon{
        font-size: 0.4rem;
        color: rgba(255, 255, 255, 0.4);
    }

    .current-board-due-date{
        color: rgba(255, 255, 255, 0.5);
    }
}