@import "./variables";

.projects-list-container{
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h1{
        padding: 0 1rem;
        font-size: 2.5rem;
    }
    
    .projects-list{
        background-color: white;
        width: 98%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 20px;
        border: 1px solid $grey;
        height: 100%;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow-y: auto;

        .project{
            border: 1px solid $light_grey;
            border-radius: 10px;
            background-color: $light;
            padding: 1rem 1.5rem;
            width: 20vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            cursor: pointer;
            transition: background-color 0.1s;

            h3{
                color: $dark;
            }

            >div{
                width: 100%;

                h4{
                    flex: 1;
                }
            }

            .label-container{
                p{
                    text-transform: capitalize;
                }
            }

            .team{
                gap: 0.3em;
                .profile-img-container{
                    width: 30px;
                    height: 30px;
                    border: 2px solid white;
                    box-shadow: 0 0 7px $light_grey;

                    &.blank{
                        width: 30px;
                        height: 30px;

                        #blank-profile{
                            width: 50px;
                        }
                    }
                }
            }

            p{
                font-weight: 600;
                color: $dark;
                font-size: 1rem;

                span{
                    font-weight: 600;
                    color: $grey;
                }
            }

            #project-progress{
                background-color: white;
                width: 100%;
                padding: 0.5em;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p{
                    font-weight: 300;
                    span{
                        color: $dark;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                >div {
                    p{
                        background-color: $light_grey;
                        padding: 0.05em 0.3em;
                        border-radius: 5px;
                        text-align: center;
                    }
                }

                span{
                    font-style: italic;
                    color: $grey;
                }
            }

            &:hover{
                background-color: $light_bg;
            }

        }
    }

    #no-projects{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        height: 40vh;

        p{
            font-size: 2rem;
            font-weight: 600;
            color: $grey;
            opacity: 0.5;
            text-align: center;
        }
    }
}

@media screen and (min-width: 1281px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;
            justify-content: space-between;

            .project{
                width: 32%;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;

            .project{
                width: 48%;
            }
        }
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;

            .project{
                width: 48%;

                .flex-align.space-between.gap1.flex1{
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}

@media screen and (min-width: 451px) and (max-width: 550px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;

            .project{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;

            .project{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    .projects-list-container{
        .projects-list{
            flex-wrap: wrap;

            .project{
                width: 100%;

                .flex-align.space-between.gap1.flex1{
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}