@import "./variables";

.current-board-stages-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    flex: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .stage-container{
        min-width: 30%;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        .stage-tasks{
            margin: 0.5rem 0 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            flex: 1;
            overflow-y: auto;
            border: 2px solid transparent;

            &.drag{
                border: 2px dashed $light_grey;
                background-color: $light_bg;
                border-radius: 10px;
                transition: background-color 0.15s;
            }   
        }

        .stage-title-container{
            display: flex;
            width: 100%;
            align-items: center;
            background-color: white;
            box-shadow: 0 3px 20px $light_grey;
            border-radius: 10px;
            padding-inline: 0.5rem;
            position: relative;

            .input-container{
                width: 50%;
            }

            .total-tasks{
                width: 25px;
                height: 25px;
                padding: 0.25rem 0.5rem;
                align-self: center;
                border: 1px solid $grey;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                color: $grey;
                font-size: 0.8rem;
                font-family: Roboto, sans-serif;
                margin-right: 0.5rem;
            }

            .buttons-container{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: fit-content;

                .icon-span.plus{
                    padding: 0.3rem;
                    border-radius: 5px;
                    border: 1px solid $light_grey;
                    transition: border 0.15s;

                    .icon.plus{
                        scale: 1.4;
                        transition: color 0.15s;
                    }

                    &:hover{
                        border: 1px solid $blue;

                        .icon.plus{
                            color: $blue;
                        }
                    }
                }
            }

            .input-container{
                flex: 1;

                input{
                    background-color: transparent;
                    border: none;
                    font-size: 1.2rem;
                    padding: 0.4rem;
                    font-weight: 600;
                }
            }

            .icon-span{

                .icon.dots-menu{
                    transform: rotateZ(90deg);
                    transition: color 0.15s;
                }

                &:hover{
                    .icon.dots-menu{
                        color: $blue;
                    }
                }
            }

            .options-menu{
                right: 4.5rem;
            }
        }
    
        .stage-status{
            border: 1px solid $red;
            padding: 0.3rem 0.7rem;
            border-radius: 10px;
            background-color: white;
            border: 1px solid $light_grey;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h4{
                width: fit-content;
                align-items: start; 
            }

            p{
                font-style: italic;
                color: $grey;
                align-self: self-end;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .current-board-stages-container{
        .stage-container{
            min-width: 45%;

            .stage-title-container{
                .input-container{
                    width: 50%;

                    input{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    } 
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .current-board-stages-container{
        .stage-container{
            min-width: 70%;

            .stage-title-container{
                .input-container{
                    width: 50%;

                    input{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    } 
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    .current-board-stages-container{
        .stage-container{
            min-width: 70%;

            .stage-title-container{
                .input-container{
                    width: 50%;

                    input{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    } 
}

@media screen and (min-width: 250px) and (max-width: 600px) {
    .current-board-stages-container{
        .stage-container{
            min-width: 90%;

            .stage-title-container{
                .input-container{
                    width: 50%;

                    input{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    } 
}