@import "./variables";

.current-board-members-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;

    h3{
        color: $grey;
        font-weight: 600;
        font-size: 1rem;
    }

    .team-container{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-inline: 0.3rem;

        .team{
            display: flex;
            align-items: center;
            gap: 0.4rem;

            .profile-img-container{
                width: 35px;
                height: 35px;
                outline: 2px solid white;

                img{
                    width: inherit;
                }

                &.blank{
                    outline: none;
                    width: 40px;
                    height: 40px;

                    #blank-profile{
                        width: 60px;
                    }
                }
            }
        }
    }

    .icon-span{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.1rem;

        &.add{
            background-color: white;
            border-radius: 5px;
            padding: 0.2rem 0.1rem;
            transition: background-color 0.15s;
            padding: 0.5rem;
            
            .icon{
                font-size: 1.1rem;
            }

            &:hover{
                background-color: $blue_hover;
    
                .icon{
                    color: white;
                }
            }

            .options-menu{
                min-width: max-content;
            }
        }

        .icon{
            font-size: 2rem;
            color: $blue;
        }

        .name-overlay{
            position: absolute;
            z-index: 1;
            color: $light;

            &.small{
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (min-width: 351px) and (max-width: 700px) {
    .current-board-members-container{
        width: auto;
        flex: 1;
    }
}

@media screen and (min-width: 250px) and (max-width: 350px) {
    .current-board-members-container{
        width: auto;
        flex: 1;
    }
}