@import "./variables";

#right-nav{
    width: 17%;
}

.right-nav-content{
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .project-content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-bottom: 2px solid $light_grey;
        padding: 1rem 0;

        .current-project-info{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 0.2rem;
    
            h3{
                font-size: 1.5rem;
            }
    
            p{
                font-size: 1rem;
                color: $grey;
                font-weight: 400;
                width: 100%;
            }
        }
    
        .current-project-admins{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span{
                color: $grey;
                font-size: 0.8rem;
                font-weight: 300;
            }

            .admins{
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                
                .admin{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    position: relative;

                    .icon-span{
                        padding: 0.5rem 0;

                        .icon{
                            font-size: 2rem;

                            &.online-status{
                                font-size: 0.8rem;
                                position: absolute;
                                top: 1rem;
                                right: 0.3rem;
                            }
                        }
                    }
                    
                    span{
                        font-size: 1rem;
                        font-weight: 700;
                        color: black;
                    }
                }

                .profile-img-container{
                    width: 40px;
                    height: 40px;
                    
                    img{
                        width: 40px;
                    }

                    &.blank{
                        #blank-profile{
                            width: 55px;
                        }
                    }
                }
            }
        }
    } 
    
    &.user-card{
        h3{
            font-weight: 700;
        }
        
        p{
            color: $green;
        }
    }
}

@media screen and (min-width: 1441px) {
    #activity-section{
        width: 17%;

        .icon-span.toggle-collapse{
            display: none;
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 1440px) {
    #activity-section{
        width: 35%;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
        height: 100%;
        transform: translateX(95%);
        border-left: 5px solid $grey;
        background-color: white;
        transition: transform 0.2s;

        &.open{
            width: 100%;
            .icon-span.cross{
                display: flex;
                top: 1rem;
            }
        }

        .icon-span.toggle-collapse{
            position: absolute;
            left: -1.8rem;
            top: 7rem;
            padding: 0.2rem;
            background-color: white;
            border: 2px solid $grey;
            border-radius: 5px;
            transition: background-color 0.1s, border-color 0.1s;

            .icon{
                font-size: 1.5rem;
            }

            &.rotate{
                transform: rotate(180deg);
                display: none;
                left: -0.5rem;
                z-index: 10;
            }

            &:hover{
                border-color: $dark;
                background-color: $light;

                .icon{
                    color: $dark;

                }
            }
        }
        
        &.open{
            transform: translateX(0);
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    #activity-section{
        width: 95%;
        transform: translateX(97.5%);
    }
}