@import "./general.styles.scss";

.search-bar-container{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $light_grey;
    width: fit-content;
    transition: border 0.15s, background-color 0.15s;

    input{
        border: none;
        font-size: 1.2rem;
        background-color: transparent;
        padding: 0.2em 0.5em;
        color: $dark;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: $grey;
            font-style: italic;
            font-weight: 300;
            opacity: 0.8;
        }
    }

    &:focus-within{
        border: 1px solid $dark;
        background-color: $light;
    }
}