@import "./variables";

.top-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    margin: 0 auto 1rem auto;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 22px;

    .buttons-container{
        flex: 1;
        justify-content: flex-end;

        .btn{
            width: 14vw;
        }
    }

    h1{
        font-weight: 800;
    }
}

@media screen and (min-width: 250px) and (max-width: 1280px) {
    .top-nav{
        padding-inline: 0.6rem;
        justify-content: space-between;

        .buttons-container{
            flex: 0;
            justify-content: flex-end;

            .btn{
                width: 18vw;
            }
        }
        
        .flex1{
            display: none;
        }

        h1{
            font-size: 1.8rem;
            text-align: left;
            width: 80%;
            flex: 1;
        }
    }
}

@media screen and (min-width: 250px) and (max-width: 767px) {
    .top-nav{
        flex-wrap: wrap;

        h1{
            flex: 1;
            font-size: 4.4vw;
            text-align: center;
            flex: 1;
        }

        .buttons-container{
            flex: 0;
            justify-content: flex-end;

            .btn{
                width: fit-content;

                span.btn-text{
                    display: none;
                }
            }
        }

        .btn{
            font-size: 0.85rem;
            padding: 0.4rem;
        }

        .flex1{
            display: none;
        }
    }
}