@import "./variables";

.user-tab{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    border-radius: 8px;
    border: 1px solid $light_grey;
    background-color: white;
    padding: 0.5em;
    width: 100%;
    cursor: pointer;

    &:hover{
        background-color: $light;
    }

    .user-tab-content{
        flex: 1;
        
        h4{
            font-size: 1.1rem;
            text-align: left;
        }
        
        p{
            font-size: 0.95rem;
            text-align: left;
        }
    }

    .profile-img-container{
        width: 50px;
        height: 50px;

        img{
            width: 50px;
        }

        &.blank{
            #blank-profile{
                width: 70px;
            }
        }
    }

    .icon-span{
        padding: 0.5rem 0;
        position: absolute;
        bottom: 0.2rem;
        left: 2.8rem;

        .icon{
            font-size: 2rem;

            &.online-status{
                font-size: 0.8rem;
            }
        }
    }

    #userTabAdditionalContent{
        .buttons-container{
            width: fit-content;

            .btn{
                padding: 0.05em 0.5em;
                cursor: pointer;

                .icon-span{
                    position: unset;

                    .icon{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}