@import "./general.styles.scss";

.current-board-stages-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 1rem;
    flex: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 20vh;

    .stage-container{
        min-width: 30%;

        .stage-tasks{
            padding: 0.5rem 0;
        }

        .stage-title-container{
            display: flex;
            width: 100%;
            align-items: center;
            background-color: white;
            box-shadow: 0 3px 20px $light_grey;
            border-radius: 10px;
            padding-inline: 0.5rem;
            position: relative;

            .buttons-container{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: fit-content;

                .icon-span.plus{
                    padding: 0.3rem;
                    border-radius: 5px;
                    border: 1px solid $light_grey;
                    transition: border 0.15s;

                    .icon.plus{
                        scale: 1.4;
                        transition: color 0.15s;
                    }

                    &:hover{
                        border: 1px solid $blue;

                        .icon.plus{
                            color: $blue;
                        }
                    }
                }
            }

            .input-container{
                flex: 1;

                input{
                    background-color: transparent;
                    border: none;
                    font-size: 1.2rem;
                    padding: 0.4rem;
                    font-weight: 600;
                }
            }

            .icon-span{

                .icon.dots-menu{
                    transform: rotateZ(90deg);
                    transition: color 0.15s;
                }

                &:hover{
                    .icon.dots-menu{
                        color: $blue;
                    }
                }
            }

            .options-menu{
                right: 4.5rem;
            }
        }
    }
}